* {
    box-sizing: border-box;
}
.sleepInst {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    width: 100%;
}
#sleepLabel {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
#sleepInput {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
#sleepBtn {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}
#NVM {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}